<div class = turrets>
    <div class = "turret-images-1">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
    </div>
    
    <div class = "turret-images-2">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
    </div>
    <div class = "turret-images-3">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
    </div>
    <div class = "turret-images-4">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
        <img src="/assets/images/turret.png" alt="Turret">
    </div>
</div>

